.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding: 60px 15px;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    align-items: center;
  }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 16px 15px;
  }
  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 118px 58px;
  }
  .our-job .container {
    display: flex;
    padding-bottom: 0;
    margin-bottom: 60px;
  }
  .footer .container {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
  }
  .portfolio .container {
    padding-top: 60px;
    padding-bottom: 25px;
  }
  .all .container {
    display: flex;
    padding-top: 0;
    padding-bottom: 64px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding: 60px 15px;
    align-items: center;
  }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 19px 15px;
  }
  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 118px 201px;
  }
  .our-job .container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 45px;
  }
  .footer .container {
    padding: 60px 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .portfolio .container {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .all .container {
    display: flex;
    padding-top: 0;
    padding-bottom: 64px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 94px 15px;
    align-items: center;
    margin: 0 auto;
  }
  .header .container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 24px 0;
  }
  .hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px 350px;
  }
  .our-job .container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 45px;
  }
  .our-team .container {
    display: flex;
    flex-direction: column;
  }
  .footer .container {
    padding: 60px 0;
    display: flex;
  }
  .portfolio .container {
    padding-top: 100px;
    padding-bottom: 56px;
  }
  .all .container {
    display: flex;
    padding-top: 0;
    padding-bottom: 64px;
  }
}

.navigation-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.modal-btn {
  font: "Roboto", sans-serif;
  display: flex;
  background-color: #2196f3;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  margin-top: 40px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  justify-content: center;
  border: none;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  transition-property: transform;
  transition-duration: 500ms;
  transform: scale(1);
}

.close-btn {
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scale(0);
  transition-duration: 500ms;
  transition-property: transform, visibility, opacity;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 528px;
  height: 581px;
  padding: 40px;
}

.modal__form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.modal__tittle {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  height: 40px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.modal__text-area {
  margin-bottom: 20px;
  width: 100%;
  height: 126px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 12px 16px;
}

.modal__text-area:focus {
  border-color: #2196f3;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-label {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy-label::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  outline: 1px solid #212121;
  content: "";
  margin-right: 9px;
}

.modal__policy-link {
  color: #2196f3;
}

.modal__checkbox:checked + .modal__policy-label::before {
  background-color: #2196f3;
  background-image: url(../images/Vector-5.svg);
  outline: none;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: background-color background-image outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.modal__icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 46%;
  left: 3%;
  transform: translateY(-50%);
  fill: #212121;
}

.modal__input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.modal__input:focus {
  border-color: #2196f3;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__icon {
  fill: #2196f3;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit-btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  font: "Roboto", sans-serif;
  cursor: pointer;
  border: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 80%;
    height: 609px;
    padding: 40px;
  }
}

.selector::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 45px;
  display: block;
  background: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 95%;
    height: 95%;
    padding: 48px 40px;
  }
  .menu__navigation {
    display: flex;
  }
  .menu__navigation-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .menu__navigation-link {
    font-weight: 500;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__navigation-link:hover, .menu__navigation-link:focus {
    color: #2196f3;
  }
  .menu-btn {
    border: none;
    background-color: #fff;
    cursor: pointer;
    color: #000;
    width: 40px;
    height: 40px;
  }
  .menu-btn:hover, .menu-btn:focus {
    fill: #2196f3;
  }
  .menu__icon {
    fill: black;
  }
  .menu__close-btn {
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 21px;
    border: none;
    background-color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menu__navigation-item {
    position: relative;
    margin-bottom: 32px;
  }
  .menu__address .menu__address-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 302px;
  }
  .menu__address-item {
    margin-bottom: 32px;
  }
  .menu__phone-number {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
  .menu__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .menu__social-links {
    display: flex;
    justify-content: flex-start;
  }
  .menu__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    margin-right: 20px;
    color: #2196f3;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.navigation-logo--dark-theme {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #212121;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__item {
  position: relative;
}

.address__mail,
.address__phone-number {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  fill: #afb1b8;
}

.address__mail:hover,
.address__mail:focus,
.address__phone-number:hover,
.address__phone-number:focus {
  color: #2196f3;
  fill: #2196f3;
}

.envelopment {
  margin-right: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navigation__list {
    display: none;
  }
  .address .address__list {
    display: none;
  }
  .menu-btn {
    fill: #111;
    color: #111;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address .address__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .address__phone-number {
    margin-top: 10px;
  }
  .navigation__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 282px;
  }
  .navigation {
    display: flex;
  }
  .menu,
  .menu-btn {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .address .address__list {
    display: flex;
    align-items: center;
    margin-left: 371px;
  }
  .address__phone-number {
    margin-left: 50px;
  }
  .navigation__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 208px;
  }
  .navigation {
    display: flex;
  }
  .navigation-logo {
    margin-right: 93px;
  }
  .menu,
  .menu-btn {
    display: none;
  }
}

.hero__header {
  display: block;
  width: 100%;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .hero__header {
    display: block;
    width: 100%;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.our-job__text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}

.our-job__wrapper {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-job__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .our-job__header {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: "Raleway", sans-serif;
    margin-bottom: 10px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-job__header {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: "Raleway", sans-serif;
    margin-bottom: 10px;
  }
  .our-job__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .our-job__item {
    display: flex;
    flex-direction: column;
    width: calc(100vw / 2 - 45px);
  }
  .our-job__item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-job__list {
    display: flex;
  }
  .our-job__item:not(:last-child) {
    margin-right: 30px;
  }
  .our-job__header {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: "Raleway", sans-serif;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .our-job-img {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .our-job-img__list {
    display: flex;
  }
  .our-job-img__item {
    position: relative;
  }
  .our-job-img__item:not(:last-child) {
    margin-right: 30px;
  }
  .our-job-img__header {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
  }
  .our-job-img__text {
    background-color: rgba(47, 48, 58, 0.8);
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 370px;
    height: 70px;
    left: 0;
    top: 224px;
  }
}

.our-team {
  background-color: #f5f4fa;
}

.our-team__header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: "Raleway", sans-serif;
  margin-top: 30px;
  margin-bottom: 10px;
}

.our-team__text {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.our-team__icons {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  align-self: center;
  width: 206px;
  height: 56px;
  margin-bottom: 18px;
  margin-top: 16px;
}

.our-team__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team__link:hover, .our-team__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-team__list {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .our-team__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .our-team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-team__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
  }
  .our-team__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .our-team__item:nth-child(1) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .our-team__item:nth-child(2) {
    margin-bottom: 30px;
  }
  .our-team__item:nth-child(3) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__list {
    display: flex;
    margin-top: 50px;
  }
  .our-team__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .our-team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.our-customers__header {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.our-customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 50px;
  fill: #afb1b8;
  transition: border-color, fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-customers__link:hover, .our-customers__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .our-customers__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .our-customers__item:nth-child(odd) {
    margin-right: 30px;
  }
  .our-customers__link {
    width: calc(100vw / 2 - 45px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-customers__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .our-customers__item:not(:nth-child(3n + 3)) {
    margin-right: 30px;
  }
  .our-customers__link {
    width: calc(100vw / 3 - 45px);
  }
}

@media screen and (min-width: 1200px) {
  .our-customers__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1170px;
  }
}

.footer {
  background-color: #2f303a;
}

.navigation-logo--light-theme {
  color: #ffffff;
}

.footer__address {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address:hover, .footer__address:focus {
  color: #2196f3;
}

.footer__mail {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__mail:hover, .footer__mail:focus {
  color: #2196f3;
}

.footer__tel {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__tel:hover, .footer__tel:focus {
  color: #2196f3;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__list {
  margin-top: 20px;
}

.join-us__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 206px;
  height: 80px;
}

.join-us__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us__link:hover, .join-us__link:focus {
  background-color: #2196f3;
}

.join-us__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 0;
}

.newsletter__header {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.send-icon {
  margin-left: 24px;
  fill: #fff;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    background-color: #2f303a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }
  .footer__address-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__address-container .navigation-logo {
    display: block;
    margin: 0 auto;
  }
  .join-us {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
  }
  .newsletter {
    display: block;
    margin-top: 60px;
  }
  .newsletter__form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .newsletter__btn {
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
    border: none;
    margin-left: 12px;
    margin-top: 20px;
  }
  .btn-wraper {
    display: block;
    margin: 0 auto;
  }
}

.newsletter__input {
  width: 240px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter__input:focus {
  border-color: #2196f3;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    background-color: #2f303a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
  }
  .footer__address-container {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .footer__address-container .navigation-logo {
    display: block;
    margin: 0 auto;
  }
  .join-us {
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .newsletter {
    display: block;
    margin-top: 60px;
    margin: 0 auto;
    margin-top: 60px;
  }
  .newsletter__form {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
    align-self: center;
  }
  .newsletter__btn {
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
    border: none;
    margin-left: 12px;
    margin-top: 20px;
  }
  .btn-wraper {
    display: block;
    margin: 0 200px;
  }
}

.newsletter__input {
  width: 380px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter__input:focus {
  border-color: #2196f3;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .footer {
    background-color: #2f303a;
  }
  .join-us {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    justify-self: start;
    align-self: start;
  }
  .newsletter {
    padding-left: 78px;
    display: flex;
    align-self: start;
  }
  .newsletter__form {
    display: flex;
  }
  .newsletter__btn {
    width: 200px;
    height: 50px;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
    border: none;
    margin-left: 12px;
  }
  .btn-wraper {
    display: block;
    padding-top: 36px;
  }
  .newsletter__input {
    width: 380px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    padding-left: 16px;
    color: rgba(255, 255, 255, 0.6);
  }
  .newsletter__input:focus {
    border-color: #2196f3;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 9px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .portfolio__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .portfolio__btn {
    font: "Roboto", sans-serif;
    background-color: #f5f4fa;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    margin-bottom: 15px;
    transition: background-color, color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__btn:hover, .portfolio__btn:focus {
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .portfolio__btn:nth-child(1) {
    width: 103px;
  }
  .portfolio__btn:nth-child(2) {
    width: 128px;
  }
  .portfolio__btn:nth-child(3) {
    width: 145px;
  }
  .portfolio__btn:nth-child(4) {
    width: 103px;
  }
  .portfolio__btn:nth-child(5) {
    width: 130px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__list {
    display: flex;
    justify-content: center;
  }
  .portfolio__btn {
    font: "Roboto", sans-serif;
    background-color: #f5f4fa;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: background-color, color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__btn:hover, .portfolio__btn:focus {
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .portfolio__btn:nth-child(1) {
    width: 103px;
  }
  .portfolio__btn:nth-child(2) {
    width: 128px;
  }
  .portfolio__btn:nth-child(3) {
    width: 145px;
  }
  .portfolio__btn:nth-child(4) {
    width: 103px;
  }
  .portfolio__btn:nth-child(5) {
    width: 130px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    display: flex;
    justify-content: center;
  }
  .portfolio__btn {
    font: "Roboto", sans-serif;
    background-color: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    transition: background-color, color, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio__btn:hover, .portfolio__btn:focus {
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .portfolio__btn:nth-child(1) {
    width: 121px;
  }
  .portfolio__btn:nth-child(2) {
    width: 93px;
  }
  .portfolio__btn:nth-child(3) {
    width: 114px;
  }
  .portfolio__btn:nth-child(4) {
    width: 91px;
  }
  .portfolio__btn:nth-child(5) {
    width: 121px;
  }
}

.all__header {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: "Raleway", sans-serif;
  margin: 20px 24px 4px 24px;
}

.all__text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0 20px 20px 20px;
}

.all__tittle-box {
  z-index: 1;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}

.all__description {
  position: absolute;
  width: 100%;
  height: 294px;
  left: 0;
  top: 0;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  display: flex;
  align-items: center;
  padding-left: 24px;
  transform: translate(0, 294px);
  transition-property: trsnsform 500ms;
  transition-duration: 500ms;
  padding-left: 10px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .all__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
  }
  .all__item {
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    position: relative;
  }
  .all__item:hover, .all__item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
  .all__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .all__item:hover .all__description {
    transform: translate(0, 0);
    transition-duration: 500ms;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .all__list {
    display: flex;
    flex-wrap: wrap;
  }
  .all__item {
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    position: relative;
  }
  .all__item:hover, .all__item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
  .all__item:not(:nth-child(2n + 2)) {
    margin-right: 30px;
  }
  .all__item:hover .all__description {
    transform: translate(0, 0);
    transition-duration: 500ms;
  }
}

@media screen and (min-width: 1200px) {
  .all__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
  }
  .all__item {
    box-sizing: border-box;
    border: 1px solid #eeeeee;
    margin-bottom: 30px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
    position: relative;
  }
  .all__item:hover, .all__item:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }
  .all__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .all__item:hover .all__description {
    transform: translate(0, 0);
    transition-duration: 500ms;
  }
}
/*# sourceMappingURL=main.css.map */